/*Commenting method in CSS is the same for the HTML*/
/*CSS selector*/
/*
	in CSS, you can enter multiple properties inside the selector to change the style of the element
*/

/*
CSS STYLING SPECIFICITY
	inline styling has the highest priority over internal and external styling
	external styling has the lowest priority over internal and internal styling

	CSS STYLING PRIORITIZATION
	inline>internal>external


	!important - property used in CSS to override the CSS priority rule. it makes the property to which it is attached a priority over conflicting style (regardless if it's internal or inline)
			-if conflicting styles are trying to modify the same element with the use of !important, CSS style priority will take effect

	h1{
		color: red !important;
		background-color: pink;
}
*/

/*
	*-universal selector; it is used to target all elements inside the html.tag

		font-family - changes the style of the font
			Courier New - is the font that is to be used by the webpage to display the texts
			monospace - the family from which the browser will try to search for a font once the Courier New is not available

		font-size - changes the font size
			20px - value in which the sie of the text will be 20 pixels in measure

*/

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID selector*/
/*id selector - this is commonly used to proved unique styling for an element
/*#idName*/
#zuitt-motto{
	letter-spacing: 5px;

}

/*
	CSS Speficity
		in terms of the selectors, id has the highest priority over the other selectors and universal selector has the lowest
*/
h3{
	letter-spacing: 25px;
}


/*Class selector*/

.offering-item{
	text-transform: uppercase;
}

/*attribute selector
		will only work if the element has the exact attribute that is specified in the selector. case sensitive
	SYNTAX: ;
		tag[attribute]
*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*combination selectors*/
/*there selectors require two selectors but the target is the latter/second selector*/

/*ADJACENT SIBLING SELECTOR*/
/*selector that is used to target the selector that is next to the first selector*/
/*
	SYNTAX
		firstSelector + secondSelector
*/
/*
	height - changes the height of the element
	width - changes the width of the element
	border-radius - changes the corners of the img element from a sharp to a rounded corner
*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*

in combination selectors, the we are not restricted to use uniform/one tag for both. the firstSelector can be a class/id/tag while the secondSelector can be of different selector
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
*/

/*
	descendant selector
		used to select elements(secondSelector) that are inside other elements(firstSelector)
	SYNTAX
		firstSelector secondSelector
*/

/*hexadecimal value of the color property - can be used to specify the target shade for the color that the dev/client wants to use*/
#bootcamp-learning-list li{
	color: #075966;
	background-color: darkred;
}

/*
	General Sibling Selector
		used to target preceeding (secondSelector) siblings of the first selector
*/

h2 ~ a{
	text-decoration: none;
}

/*child selector*/
/*
	can be used to select the child of the first selector, or in this case the child of the selector that comes before it.
	SYNTAX:
		firstSelector>secondSelector
*/

body>section>form>label{
	/*color also accepts rgb as its value. this value refers to red, green, blue. the numbers inside the parenthesis would range from 0 to 255*/
	color: red;
}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}

/*NAVIGATION*/
nav{
	background-color: white;
}

/*pseudo element/selector*/
/*this a: hover will change the element style once the cursor is hovered over it*/
a:hover{
	background-color: #b3d6de;
}

div{
	display: inline-block;
}

/*landing section*/
section{
	/*vh - viewport height; the browser will be using 100% of the screen display*/
	height: 100vh;
	text-align: center;
}

h2{
	/*rem - root element measurement it multiplies the value attached to it to the root element(html); default value would be 16px*/
	font-size: 1.5rem;
}

ol{
	/*list-style-type - changes the bullet/ordering style of the elements*/
	list-style-type: none;
}

/*register section*/
/*
	position - property that changes the position of element based on a certain criteria
	left - used along the position property to add a certain measurement to the left of the element
		directions (l, r, t, b) - it is recommended to use only 2 of the directions; vertical(top and bottom) or horizontal (left and right) per selection
			-% as the value would be based on the parent element
*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 210px;
	/*vw - viewport width and is similar to vh*/
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}