p3{
	color: yellow;
}

*{
	font-family: "Arial", monospace;	
	font-size: 20px;
}

span{
	font-size: 50px;
}

#bootcamp-learning{
	text-transform: uppercase;
}

.languages{
	background-color: lightblue;
}

li[title]{
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
}

#other-things-learned img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

img + .other-learnings1{
	list-style-type: none;
}

.other-learnings1 + .other-learnings2{
	list-style-type: none;
}


.other-learnings2 + .other-learnings3{
	list-style-type: none;
}


.other-learnings3 + .other-learnings4{
	list-style-type: none;
}

ol ~ p{
	text-align: center;
}

body>section>ul>li{
	letter-spacing: 20px;
}